html:root {
    --blue_lightTheme: #0099F5;
    --blueVar1_lightTheme: #53AAE0;
    --blueVar2_lightTheme: #AAD7F5;
    --yellow_lightTheme: #EFD900;
    --yellowVar1_lightTheme: #E1D14C;
    --yellowVar2_lightTheme: #EAE29A;
    --red_lightTheme: #F51101;
    --redVar1_lightTheme: #E55147;
    --redVar2_lightTheme: #E59F9B;
    --green_lightTheme: #01F542;
    --greenVar1_lightTheme: #4DF079;
    --greenVar2_lightTheme: #9AEBAF;
    --orange_lightTheme: #E07B00;
    --orangeVar1_lightTheme: #E5A04C;
    --orangeVar2_lightTheme: #F0C696;
    --purple_lightTheme: #6E00FF;
    --purpleVar1_lightTheme: #8E50E6;
    --purpleVar2_lightTheme: #BE9EE5;
    --grey_lightTheme: rgb(200, 200, 200);
    --greyFilter1_lightTheme: rgba(200, 200, 200, 0.5);
    --greyFilter2_lightTheme: rgba(200, 200, 200, 0.3);
    --greyFilter3_lightTheme: rgba(200, 200, 200, 0.8);
    --lightC_lightTheme: rgb(255, 255, 255);
    --lightCFilter1_lightTheme: rgba(255, 255, 255, 0.5);
    --lightCFilter2_lightTheme: rgba(255, 255, 255, 0.3);
    --lightCFilter3_lightTheme: rgba(255, 255, 255, 0.8);
    --reverseC_lightTheme: rgb(0, 0, 0);
    --reverseCFilter1_lightTheme: rgba(0, 0, 0, 0.5);
    --reverseCFilter2_lightTheme: rgba(0, 0, 0, 0.3);
    --reverseCFilter3_lightTheme: rgba(0, 0, 0, 0.8);

    --blue_darkTheme: #0085D8;
    --blueVar1_darkTheme: #3D7EA6;
    --blueVar2_darkTheme: #6D8A9D;
    --yellow_darkTheme: #D3BE00;
    --yellowVar1_darkTheme: #A59A38;
    --yellowVar2_darkTheme: #938E61;
    --red_darkTheme: #D80E00;
    --redVar1_darkTheme: #AA3C35;
    --redVar2_darkTheme: #8E6360;
    --green_darkTheme: #00BD32;
    --greenVar1_darkTheme: #31994D;
    --greenVar2_darkTheme: #4E7759;
    --orange_darkTheme: #C36B00;
    --orangeVar1_darkTheme: #AB7839;
    --orangeVar2_darkTheme: #987E60;
    --purple_darkTheme: #6200E2;
    --purpleVar1_darkTheme: #6A3CAB;
    --purpleVar2_darkTheme: #76628E;
    --grey_darkTheme: rgb(120, 120, 120);
    --greyFilter1_darkTheme: rgba(120, 120, 120, 0.5);
    --greyFilter2_darkTheme: rgba(120, 120, 120, 0.3);
    --greyFilter3_darkTheme: rgba(120, 120, 120, 0.8);
    --reverseC_darkTheme: rgb(255, 255, 255);
    --reverseCFilter1_darkTheme: rgba(255, 255, 255, 0.5);
    --reverseCFilter2_darkTheme: rgba(255, 255, 255, 0.3);
    --reverseCFilter3_darkTheme: rgba(255, 255, 255, 0.8);
    --lightC_darkTheme: rgb(0, 0, 0);
    --lightCFilter1_darkTheme: rgba(0, 0, 0, 0.5);
    --lightCFilter2_darkTheme: rgba(0, 0, 0, 0.3);
    --lightCFilter3_darkTheme: rgba(0, 0, 0, 0.8);

    --grey: rgb(200, 200, 200);
    --greyFilter1: rgba(200, 200, 200, 0.5);
    --greyFilter2: rgba(200, 200, 200, 0.3);
    --greyFilter3: rgba(200, 200, 200, 0.8);
    --white: rgb(255, 255, 255);
    --whiteFilter1: rgba(255, 255, 255, 0.5);
    --whiteFilter2: rgba(255, 255, 255, 0.3);
    --whiteFilter3: rgba(255, 255, 255, 0.8);
    --black: rgb(0, 0, 0);
    --blackFilter1: rgba(0, 0, 0, 0.5);
    --blackFilter2: rgba(0, 0, 0, 0.3);
    --blackFilter3: rgba(0, 0, 0, 0.8);
}